extends layout

block styles
  link(rel='stylesheet' href='/css/account-client-secret-reset.css')

block content
  .container
    .reset-client-secret
      h1 Reset Your Client Secret

      form(role='form' action='/account/client-secret/reset' method='post')
        input(type='hidden' name='_csrf' value=token)
        input.btn.btn-primary(type='submit' value='Reset your client secret now')