extends layout

block styles
  link(rel='stylesheet' href='/css/account-reset-password.css')

block content
  .container
    .reset-password
      h1 Reset Your Password

      form.form-horizontal(role='form' action='/account/reset-password' method='post')
        input(type='hidden' name='_csrf' value=token)
        input(type='hidden' name='email' value=email)
        input(type='hidden' name='code' value=verificationCode)
        .form-group
          label.col-sm-3.control-label(for='password') Your password
          .col-sm-9
            input.form-control.input-lg(type='password' name='password')
        .form-group
          label.col-sm-3.control-label(for='password_repeat') Your password again
          .col-sm-9
            input.form-control.input-lg(type='password' name='password_repeat')
        .form-group
          .col-sm-9.col-sm-offset-3
            input.btn.btn-primary(type='submit' value='Reset Your Password')