extends layout

block styles
  if !user
    link(rel='stylesheet', href='/css/index-logged-off.css')

block content
  .container-fluid
    p This feature is not yet implemented

block scripts
  script(src='/js/dashboard.js')