extends layout

block styles
  if !user
    link(rel='stylesheet', href='/css/index-logged-off.css')

block content
  .container-fluid
    h1 #{device.common_name}
    p
      strong UUID Token : 
      | #{device.uuid_token}
    if isOwner
      p
        strong Client Secret : 
        | #{device.client_secret}

block scripts
  script(src='/js/dashboard.js')