doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title ALIS Web Portal

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/layout.css')

    block styles
  body

    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          if (user)
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
              span.sr-only
              span.icon-bar
              span.icon-bar
              span.icon-bar
          a.navbar-brand(href='/') ALIS Web Portal

        if (user)
          #navbar.collapse.navbar-collapse
            include partials/loggedin-nav

    block content

    script(src='/components/jquery/jquery.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')

    block scripts