doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title ALIS Web Portal

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/layout.css')

    block styles
  body

    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          if (user)
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
              span.sr-only
              span.icon-bar
              span.icon-bar
              span.icon-bar
          a.navbar-brand(href='/') ALIS Web Portal

        if (user)
          #navbar.collapse.navbar-collapse
            include partials/loggedin-nav

    .container-fluid
      .alerts
        for errorMessage in messages.error || []
          - console.log(errorMessage)
          .alert.alert-danger.alert-dismissable
            button.close(type='button' data-dismiss='alert' aria-hidden='true') &times;
            | #{errorMessage}

        for successMessage in messages.success || []
          - console.log(successMessage)
          .alert.alert-success.alert-dismissable
            button.close(type='button' data-dismiss='alert' aria-hidden='true') &times;
            | #{successMessage}

    block content

    script(src='/components/jquery/jquery.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')

    block scripts