extends layout

block styles
  link(rel='stylesheet', href='/css/new-email.css')

block content
  .container-fluid
    form.form-horizontal(rol='form', action='/new-email', method='post')
      input(type='hidden', name='_csrf', value=token)

      .form-group
        label.col-sm-2.control-label(for='email_address') Email Address
        .col-sm-10
          input.form-control(name='email_address', type='name', placeholder='e.g. sample@example.com')

      .form-group
        .col-sm-offset-2.col-sm-10
          input.btn.btn-primary(type='submit', value='Submit')