extends layout

block styles
  link(rel='stylesheet', href='/css/register.css')

block content
  .container-fluid
    .register
      h1 Register a New Account
      form(role='form', action='/register', method='post')
        input(type='hidden', name='_csrf', value=token)
        +createLargeLabellessField('full_name', 'name', 'Enter your full name')
        +createLargeLabellessField('username', 'username', 'Choose a username')
        +createLargeLabellessField('email_address', 'email', 'Enter your e-mail')
        +createLargeLabellessField('password', 'password', 'Create a password')

        input.btn.btn-primary.btn-lg.btn-block(type='submit', value='Sign Up')