extends ../layout

block styles
  if !user
    link(rel='stylesheet', href='/css/index-logged-off.css')

block content
  .container-fluid
    .log-in
      h1 ALIS Web Portal

      form(role='form', action='/login', method='post')
        input(type='hidden', name='_csrf', value=token)
        .form-group
          input.form-control.input-lg(type='username', name='username', placeholder='Username or Email')
        .form-group
          input.form-control.input-lg(type='password', name='password', placeholder='Password')
        .form-group
          input.btn.btn-primary.btn-lg.btn-block(type='submit', value='Log In')

      hr

      .sign-up-sign
        span Or
      a.btn.btn-success.btn-lg.btn-block(href='/register') Sign Up
      .forgotten-password
        a(href='/account/forgot') Forgotten your password?