.account-link {
  span.notification {
    vertical-align: super;
    position: absolute;
    top: 2px;
    right: 15px;
    background-color: #d9534f;
    color: white;
    border-radius: 16px;
    width: 20px;
    text-align: center;
  }
  img {
    margin-right: 10px;
  }
}

.alerts {
  max-width: 500px;
  margin: 0 auto;
  .alert {
    text-align: center;
  }
}